{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Djdemo site</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
        <meta name="google" content="notranslate" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
	<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" />
    </head>

    <body>
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'index' %}">Django BLOGs</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
			            <li class="nav-item dropdown">
				            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">News</a>
				            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
		                        <li><a class="dropdown-item" href="{% url 'report' %}">Report</a></li>
                		        <li><a class="dropdown-item" href="{% url 'report_json' %}">Report in JSON</a></li>
		                        <li><a class="dropdown-item" href="{% url 'render_js' %}">Report_JS</a></li>
				            </ul>
			            </li>
                        <!--li class="nav-item">
                            <a class="nav-link" href="lottery">Get Lucky No.</a>
                        </li-->
                    </ul>
                </div>
            </div>
        </nav>
        {% block header %} 
        <header class="bg-primary">
            <div class="overlay "></div>
            <div class="container">
                <div class="row">
                     <div class=" col-md-8 col-md-10 mx-auto">
                         <div class="site-heading">
                            <h3 class=" site-heading my-4 mt-3 text-white"> Welcome to my Demo Blog </h3>
                            <p class="text-light">Focus on ...</p>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        {% endblock header %}
        
        {% block index %}
        <!-- Content Goes here -->
        {% endblock index %}
                
        <!-- Footer -->
        <footer class="p-3 mb-2 bg-primary text-white">
            <center><h3 id="about">About</h3></center>
            <p class="m-0 text-light text-center ">This is a demo site built with Django framework, hope you enjoy it!</p>
            <p class="m-0 text-light text-center ">Copyleft &copy; balajan blogs, refer to: <a class="text-light" href="https://djangocentral.com/building-a-blog-application-with-django/">Django Central</a></p>
        </footer>
    </body>
</html>

