{% extends "base.html" %}
{% block index %}

<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
      <div class="card-body">
        <h1>{% block title %} {{ object.title }} {% endblock title %}</h1>
        <p class=" text-muted">{{ blog.author }} | {{ blog.created_on }}</p>
        <p class="card-text ">{{ object.content | safe }}</p>
	{% for blog_image in blog_images %}
		<img class="d-block w-100" src="{{ blog_image.images.url }}" width="60%">
	{% endfor %}
<!-- Comment area -->	
	<div class="card-body">
	{% if user.is_authenticated %}
		<form method="POST" class="form-group my-2">
			{% csrf_token %}
			{{ comment_form }}
			<p><button class="btn btn-info my-3" type="submit">Add comment <i class="fas fa-comments"></i></button></p>
		</form>
	{% else %}
		<p><a class="btn btn-outline-info" href="{% url 'admin:login' %}">Log in to add a comment.</a></p>
	{%endif%}
	{% if comments %}
		<strong class="text-secondary">{{ object.number_of_comments }} Comment {{ object.number_of_comments|pluralize }}</strong>
		<hr>
		<ul>
		{% for comment in comments %}
			<li>
				<div>
					<span>
						<strong class="text-info">{{ comment.author }} </strong>
						<small class="text-muted">{{ comment.created_date }} </small>
					</span>
					<p> {{ comment.comment|safe }}</p>
				</div>
			</li>
		{% endfor %}
		</ul>
	{% else %}
		<strong class="text-secondary">No comment yet.... </strong>
	{% endif %}
	</div>
      </div>
    </div>
    <div class="col-md-4 float-right ">
    {% include 'sidebar.html' %}
    </div>
  </div>
</div>

{% endblock %}
