{% extends "base.html" %}



{% block index %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 mt-3 left">
            <!-- Blog Entries Column -->
                {% for blog in blog_list %}
                <div class="card mb-4">
                    <div class="card-body">
                        <h2 class="card-title">{{ blog.title }}</h2>
                        <p class="card-text text-muted h6">{{ blog.author }} | {{ blog.created_on}} </p>
                        <p class="card-text">{{blog.content|slice:":200" | safe}}</p>
                        <p class="card-text text-muted h6">Tags: {{blog.display_tag}}</p>
                        <a href="{{ blog.get_absolute_url }}" class="btn btn-primary">Read More &rarr;</a>
                    </div>
                </div>
                {% endfor %}
		<p class="text-center">
		    {%if page_obj.has_previous %}{# if the previous page exists#}
			<a href="?page={{page_obj.previous_page_number}}"><</a>	{#link to prev page#}
		    {% endif %}
 		    <span>{{page_obj.number}}</span>	{# the current page number#}
	    	    {%if page_obj.has_next %}					{# if the next page exists#}
			<a href="?page={{page_obj.next_page_number}}">></a>	{#link to next page#}
		    {% endif %}
	    	</p>
            </div>
            <div class="col-md-4 float-right ">
                {% block sidebar %}
			{% include "sidebar.html" %}
                {% endblock sidebar %}
                {% block lottery %}
			{% include "lottery.html" %}
                {% endblock lottery %}
            </div>
        </div>
    </div>
{% endblock %}

  
